<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Iglesia Misión Cristiana #18</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header class="header">
    <img src="{{ url_for('static', filename='images/logo.png') }}" class="logo">
    <h1>Iglesia Misión Cristiana #18</h1>
    <p class="lema">Dios, Patria, Cultura y Servicio</p>
</header>

<nav class="navbar">
    <a href="/">Inicio</a>
    <a href="/nosotros">Nosotros</a>
    <a href="/doctrina">Doctrina</a>
    <a href="/sermones">Sermones</a>
    <a href="/contacto">Contacto</a>
</nav>

<main class="contenido">
    {% block content %}{% endblock %}
</main>

<footer class="footer">
    <p>© 2026 Iglesia Misión Cristiana #18 - Larreynaga, León, Nicaragua</p>
</footer>

</body>
</html>