{% extends "base.html" %}

{% block content %}

<section class="hero">
    <h1>Bienvenido</h1>
    <p>Iglesia Misión Cristiana #18</p>
</section>

<section class="section">
    <h2>Nuestra Misión</h2>
    <p>
        Predicar fielmente el evangelio de Jesucristo, formando discípulos
        conforme a la sana doctrina y viviendo en el poder del Espíritu Santo.
    </p>
</section>

<section class="section">
    <h2>Horarios</h2>

    <div class="cards">
        <div class="card">
            <h3>Cultos</h3>
            <p>Martes a Viernes<br>5:00 pm - 7:00 pm</p>
            <p>Sábado a Lunes<br>6:00 pm - 8:00 pm</p>
        </div>

        <div class="card">
            <h3>Ayuno</h3>
            <p>Viernes<br>10:00 am - 1:00 pm</p>
        </div>
    </div>

</section>

{% endblock %}